# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python (Backend)
backend/venv/
__pycache__/

##### Node (Frontend) #####
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build
##### End Node (Frontend) #####

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs for both the backend and frontend
*.log
*.log.*

# Ignore IDE-specific files
.vscode/